body{
	text-align:center;

}
div{
	display:block;

}
button{
	display:block;
	margin:20px auto;
	 
}
.color{
    text-align:center;
    width:100vw;
    height:100vh;
	padding:20px;
	border:2px solid red;
	padding-right:5px;
	background-position:cover;
}
p{
	font-size:30px; 
	text-align:inherit;
	 
}
h1{
	background:linear-gradient(to top left,red,purple,orange);
	
}